<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in Page</title>
</head>
<body>
<div>
    <div class="container">
        <h6>Sign-in</h6>
        <form th:action="@{/login}" method="post">
            <label>UserName</label>
            <input type="text" name="username" />
<!--            <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName Error</div>-->
            <br/>
            <label>Password</label>
            <input th:type="password" name="password"/>
<!--            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>-->
            <br/>
        <input type="checkbox" name="remember-me">
            <button th:type="submit">Login User</button>
        </form>
    </div>
</div>
</body>
</html>